{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Jaepil
          <span class="text-primary">Choi</span>
        </h1>
        <div class="subheading mb-5">(+82) 010-2589-5000 ·
          <a href="mailto:name@email.com">chljeffreyz@gmail.com</a>
        </div>
        <p class="lead mb-5">Ambitious and self-motivated student with both Economics and programming background, various project experiences applying knowledge from both fields on real world.</p>
        <br>
        <p class="lead mb-5">This site is under development. Please visit my Github to check out my projects. I'll upload my projects and their interactive demos in near future.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/jaepil-choi-2bb037125/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/jaepil-choi">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="career">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Internship at Intel Corporation, Seoul</h3>
            <div class="subheading mb-3">CSR Specialist</div>
            <p>-	Supported Intel Innovation Lab program by researching IT education status of 200+ Korean high schools by scraping data from gov’t web. </p>
            <p>-	Made PPT slides on daily basis mainly to report relevant information regarding Innovation Lab program.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Nov 2016 - Mar 2017</span>
          </div>
        </div> 
      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Sungkyunkwan University, Seoul, South Korea</h3>
            Offered full-scholarship from admission.
            <div class="subheading mb-3">Bachelor of Economics</div>
            <div>1st Major: Global Economics</div><br>
            <div class="subheading mb-3">Bachelor of Informatics</div>
            <div>2nd Major: Informatics</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Feb 2013 - Aug 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Myungduk Foreign Language High School</h3>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2007 - 2009</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-item">
            <i class="fab fa-html5"></i>
            HTML5
          </li>
          <li class="list-item">
            <i class="fab fa-css3-alt"></i>
            CSS3
          </li>
          <li class="list-item">
            <i class="fab fa-python"></i>
            Python
          </li>
          <li class="list-item">
            <i class="fab fa-r-project"></i>
            R
          </li>
          <li class="list-item">
            <i class="fas fa-chart-bar"></i>
            Stata
          </li>
          <li class="list-item">
            <i class="fab fa-git"></i>
            Git
          </li>
        </ul>

        <div class="subheading mb-3">Additional Skills</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Git-flow and semantic versioning</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Isolating development environment with Pipenv and Conda</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Statictical analysis from linear regression to time-series analysis</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Web scraping &amp; work automation</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>
        <a class="btn btn-info" href={% url 'project:list' %} role="button">Projects list</a>
        <br>
        <br>
        Awards
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - Sungkyunkwan University - 융합기초프로젝트 대상 2016</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            2<sup>st</sup>
            Place - Sungkyunkwan University - C스쿨 프로젝트 최우수상 2016</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Sungkyunkwan University - C스쿨 프로젝트 우수상 2018</li>
        </ul>
      </div>
    </section>


    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="gallery">
      <div class="w-100">
        <h2 class="mb-5">Gallery</h2>

      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src={% static "resume/vendor/jquery/jquery.min.js" %}></script>
  <script src={% static "resume/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

  <!-- Plugin JavaScript -->
  <script src={% static "resume/vendor/jquery-easing/jquery.easing.min.js" %}></script>

  <!-- Custom scripts for this template -->
  <script src={% static "resume/js/resume.min.js" %}></script>

{% endblock %}